* {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}

.container {
    width: 1140px;
    margin: auto;
}

a {
    text-decoration: none;
}

/*HEADER*/

#header {
    position: absolute;
    width: 100%;
    margin-top: 30px;
}

.nav-item:nth-child(4):hover {
    background: black;
}

.nav-item:first-child:hover {
    background: black;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-text {
    text-transform: uppercase;
    font-weight: 700;
    color: #FFFFFF;
}

nav a {
    margin: 0 15px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;

    color: #FFFFFF;

}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.end-block {
    display: flex;
    align-items: center;
}

.lang {
    margin: 0 10px;
}

.nav-input:focus {
    outline: none;
}

.nav-input:active {
    background: black;
}

/*.nav-item:visited {*/
/*background: red;*/
/*    padding: 10px 10px;*/
/*}*/

/*HEADER*/


/*HERO*/
#hero {
    background: url("../img/Bg (1).png") no-repeat center/cover;
    min-height: 100vh;

}

.hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.hero-title {
    font-weight: 700;
    font-size: 72px;
    line-height: 86px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-top: 200px;
    text-align: center;

    color: #FFFFFF;

}

.hero-subtitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 30px;

    text-align: center;

    color: #FFFFFF;

}

.hero-btn {
    background: #FFFFFF;
    border-radius: 6px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    padding: 8px 26px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin: auto;
    border: none;

    color: #ED4C5C;

}

/*HERO*/
.p {
    position: absolute;
    width: 578px;
    height: 86px;
    left: 431px;
    top: 257px;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 86px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.h1 {
    position: absolute;
    width: 540px;
    height: 124px;
    left: 450px;
    top: 382px;

    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    /* or 36px */

    text-align: center;

    color: #FFFFFF;
}

.h3 {
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin-bottom: 35px;
    margin-top: 35px;
}
.h4 {
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin-bottom: 35px;
    margin-top: 35px;
}



.line.before {
    position: absolute;
    content: '';
}

.hero-btn:hover {
    cursor: pointer;
    background: #c50200;
    color: #FFFFFF;
    transition: 0.7s;
    transform: translateY(-15px);
}

/*MANAGEMENT*/

.management {
    padding-top: 100px;
    padding-bottom: 100px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.left-block {
    width: 50%;
}

.right-block {
    position: relative;
    width: 50%;
}

.man-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 15px;

    color: #000000;
}

.man-subtitle {
    font-size: 14px;
    line-height: 140%;
    /* or 20px */
    width: 445px;
    margin-bottom: 25px;

    text-align: justify;

    color: #000000;
}

.man-link {
    font-size: 14px;
    line-height: 140%;
    /* identical to box height, or 20px */

    text-align: justify;

    color: #ED4C5C;
}

.man-video {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 66px;
    height: 66px;
    top: 122px;
    left: -31px;
    background: #ED4C5C;
    border-radius: 50%;
}

.play-btn {
    display: flex;
    margin: auto;
    width: 18px;
    height: 18px;
}

/*MANAGEMENT*/

/*.wrapper {*/
/*    position: relative;*/

/*    width: 50px;*/
/*    height: 50px;*/
/*    background: #000;*/
/*}*/

/*.line {*/
/*    position: absolute;*/
/*    height: 2px;*/
/*    width: 50px;*/
/*    top: 15px;*/
/*    background: #ffffff;*/
/*}*/
/*.line:before {*/
/*    position: absolute;*/

/*    content: '';*/
/*    height: 2px;*/
/*    width: 50px;*/
/*    background: #000000;*/
/*    top: 10px;*/
/*}*/
/*.line:after {*/
/*    position: absolute;*/
/*    content: '';*/
/*    height: 2px;*/
/*    width: 50px;*/
/*    background: #000000;*/
/*    bottom: 10px;*/
/*}*/


.hover-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    color: #101010;

}

.hover-subtitle {
    font-size: 12px;
    line-height: 150%;
    /* or 18px */

    text-align: center;

    color: #101010;

}

.hover-link {
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */

    text-align: center;

    color: #ED4C5C;

}

.hover {
    opacity: 0.1;
    background: #FFFFFF;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 253px;
    height: 140px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.card:hover .hover {
    opacity: 1;
    transition: 0.7s;
    transform: translateY(-100px);
}
#Technology {
    padding-bottom: 100px;

}

/*3-секция*/

.container {
    width: 1140px;
    margin: auto;
}

/*.tech-block {*/
/*    text-align: center;*/
/*    margin-top: -60px;*/
/*}*/

.tech-num {
    font-weight: 700;
    font-size: 100px;
    line-height: 120px;

    text-align: center;

    color: rgba(16, 16, 16, 0.08);

}
.tech {
    width: 25%;
}

/*}*/
.tech-block {
    text-align: center;
    margin-top: -60px;
}
.tech-subtitle {
    width: 191px;
    display: flex;
    justify-content: center;
    margin: auto;
}
.tech-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;

    color: #101010;
}


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*STAY*/

#stay {
    background: #ED4C5C;
    padding-top: 50px;
    padding-bottom: 150px;
}
.stay-title {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 50px;

    color: #FFFFFF;

}
.stay-subtitle {
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 30px;
    /* or 20px */
    text-align: justify;
    width: 445px;

    color: #FFFFFF;
}

.fa-google-play, .fa-app-store, .fa-windows {
    color: white;
}


.stay-img2 {
    position: absolute;
    z-index: 1;
    left: -33px;
    top: 10px;

}.stay-img3{
    position: absolute;
    z-index: 3;
    right: 89px;
    top: 10px;

}
.main-img {
    top: -10px;
    /*надо проверитьььььььььььььь*/
    position: absolute;
    z-index: 4;
}
.stay-img {
    position: relative;
}
/*STAY*/


/*CONTACT*/

#contact {
    padding-top: 100px;
}
.contact-subtitle {
    width: 434px;
}
.contact-name {
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    padding: 10px 40px;
    margin-bottom: 20px;

    color: rgba(19, 39, 67, 0.5);
}
.contact-phone {
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 10px 196px;

    margin-bottom: 20px;
}
.contact-select {
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 10px 226px;
    margin-bottom: 20px;
}
.contact-btn {
    background: #ED4C5C;
    border: 1.5px solid #ED4C5C;
    box-sizing: border-box;
    border-radius: 6px;

    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    padding: 10px 15px;
    margin-left: 210px;



    text-transform: uppercase;

    color: #FFFFFF;
}
/*CONTACT*/

.fa-cc-mastercard {
    font-size: 60px;
    color: orange;
    margin-left: 10px;
}
.fa-cc-visa {
    font-size: 60px;
    color: blue;
    margin-left: 10px;
}
#footer {
    position: absolute;
    width: 1440px;
    height: 435px;
    left: 0px;
    top: 3087px;

    background: #FAFAFA;
}
.theend {
    position: absolute;
    width: 200px;
    height: 14px;
    left: 161px;
    top: 3322px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;

    color: #101010;

}